body
{
    background-color:white;
}

.container:nth-child(even)
{
    background-color:pink;
}
.container-fluid:nth-child(even)
{
    background-color:pink;
}

.container:nth-child(odd)
{
    background-color:green;
}
.container-fluid:nth-child(odd)
{
    background-color:green;
}